{% load static humanize %}
<html lang="pt-BR">

<head>
    <title>Página Inicial</title>
    <link href="{% static 'webapp/css/index.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Salvar</button>
        </form>
    </div>
    <article>
        <div>
            {% for p in posts %}
            <!-- {{ p }} -->
            <img src="{{ p.photo.url }}" alt="Foto" height="200px" width="200px">
            <p>{{ p.message }}</p>
             <!-- {# <h4>{{ p.user.username }} - {{ p.created_at|date:"SHORT_DATE_FORMAT" }}</h4> #} --> 
            <!-- {# <h4>{{ p.user.username }} - {{ p.created_at|date:"d/m/Y - H:i:s" }}</h4> #} -->
            <!-- {# Necessita do django.contrib.humanize no INSTALLED_APPS do arquivo settings.py #} -->
            <h4>{{ p.user.username }} - {{ p.created_at|naturalday }}</h4>
            <form method="POST" action="/like/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ p.id }}">
                {% if p.user_liked > 0 %}
                <button type="submit">Liked {{ p.count_likes }}</button>
                {% else %}
                <button type="submit">Like {{ p.count_likes }}</button>
                {% endif %}
            </form>
            <hr>
            <!-- {# <form method="POST" action="/like/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ p.id }}">
                <button type="submit">Like</button>
            </form> #} -->
            {% endfor %}
        </div>
    </article>
</body>

</html>