{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Sorteio</title>
  <link href="{% static 'app_draw/css/index.css' %}" rel="stylesheet" />
</head>

<body>
  <div>
    <form action="/" method="post">
      <h1>Sortear</h1>
      {% csrf_token %}
      {{ form }}
      <button type="submit">
        Sortear
      </button>
    </form>
  </div>
  <hr>
  <div>
    <h1>Últimos Vencedores</h1>
    <table>
      <thead>
        <tr>
          <th>Sorteio</th>
          <th>Ganhador</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for winner in last_winners %}
        <tr>
          <td>{{ winner.prize_draw.name }}</td>
          <td>{{ winner.name }}</td>
          <td>{{ winner.prize_draw.created_at|date:'d/m/Y - H:i:s' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>